<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thinktiv Photo Assets</title>
  <meta charset="utf-8">
  	<%= stylesheet_link_tag "photos", :media => "all" %>
	
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" %>
	<%= javascript_include_tag "main.js" %>
	<%= javascript_include_tag "captify.tiny.js" %>
	
</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
		</div><!---container div class -->
		<div class="clear">
		</div><!---clear-->
		<div class="main">	
			<%= yield %>
		</div><!---main-->
		<div class="istock_sidebar">
		</div><!---istock_sidebar-->
	</body>
</html>
